@mixin phone-landscape-up {
    @media (min-width: 576px) { @content; }
}
@mixin tablet-portrait-up {
    @media (min-width: 768px) { @content; }
}
@mixin tablet-landscape-up {
    @media (min-width: 992px) { @content; }
}
@mixin desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin large-desktop-up {
    @media (min-width: 1800px) { @content; }
}

.ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}