@import '../styles/base';

.room-list {
    background-color: #fcfcfc;
    box-sizing: border-box;

    @include phone-landscape-up {
        margin: 10px 10px;
    }
    @include tablet-portrait-up {
        margin: 20px 20px;
    }
    @include desktop-up {
        margin: 40px 40px;
    }
}

.not-found-case {
    text-align: center;
    font-size: 20px;
    padding: 50px 50px;
}