.loader {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40%;
    left: 50%;
    border-radius: 50%;
    border: 5px solid rgba(113, 113, 113, 0.5);
    border-top: 5px solid #333;
    animation: animate 1s infinite ease-in-out;
}
@keyframes animate {
    to {
        transform: rotate(360deg);
    }
}
