:global(body, html) {
    margin: 0;
}

@font-face {
    font-family: 'Lato';
    src: url(../assets/fonts/LatoLatin-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.App {
    background-color: #f5f5f5;
    min-height: 100vh;
}

.App-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: hsla(180, 100%, 32%, 0.18);
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}