@import '../styles/base';

.main-seach-form {
    max-width: 600px;
    max-height: 250px;

    @include phone-landscape-up {
        max-height: 200px;
    }
}

.form-info-title {
    position: relative;
    top: 10px;
    font-size: 15px;
    color: #757575;

    @include phone-landscape-up {
        font-size: 19px;
    }
}

.guest-input-box .md-form .mdb-input {
    padding: 0;
    margin-bottom: 0;
    margin-right: 10px;
    max-width: 170px;

    @include phone-landscape-up {
        max-width: 178px;
    }
}

.md-form.md-outline input[type=number] {
    background-color: #fff;
}

.DateInput_input {
    font-weight: 300;
    color: #757575;
}
.DateInput_input__focused {
    border-bottom: 2px solid #4285f4;
}
.DateRangePickerInput__withBorder {
    border-radius: 5px;
}
.DateRangePickerInput_calendarIcon {
    margin: 0 0px 0px 0;

    @include phone-landscape-up {
        margin: 0 5px 0 10px;
    }
}

.btn-default {
    font-weight: bold;
}