@import '../styles/base';

.room-container {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    margin-bottom: 7px;
    padding: 6px 3px;
    box-shadow: -3.5px 3.5px 7px 0 rgba(0, 0, 0, 0.15);

    &:hover {
        background: #eefeff;
        transition: background-color .2s ease;
    }

    @include desktop-up {
        margin-bottom: 10px;
        padding: 10px 8px;
        box-shadow: -3.5px 3.5px 15px 0 rgba(0, 0, 0, 0.15);
    }
}

.room-img-preview {
    object-fit: contain;
    max-width: 150px;
    width: 100%;
    height: auto;

    @include phone-landscape-up {
        max-width: 200px;
    }
    @include tablet-portrait-up {
        max-width: 250px;
    }
    @include desktop-up {
        max-width: 300px;
    }
    @include large-desktop-up {
        max-width: 380px;
    }
}

.room-description {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-family: "Lato";
    padding-left: 10px;
    max-width: calc(100% - 160px);

    @include phone-landscape-up {
        padding-left: 15px;
        max-width: calc(100% - 170px);
    }
    @include tablet-portrait-up {
        padding-left: 20px;
    }
}

.room-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    @include desktop-up {
        padding-bottom: 20px;
    }
}
.room-name {
    display: inline-block;
    font-size: 12px;

    @include phone-landscape-up {
        font-size: 16px;
    }
    @include tablet-portrait-up {
        font-size: 18px;
    }
    @include desktop-up {
        font-size: 22px;
    }
}
.room-type {
    font-size: 10px;
    font-style: italic;

    @include phone-landscape-up {
        font-size: 13px;
    }
    @include tablet-portrait-up {
        font-size: 16px;
    }
}

.room-details {
    display: flex;
    flex-direction: column;
    font-size: 10px;

    @include phone-landscape-up {
        font-size: 13px;
    }
    @include tablet-portrait-up {
        font-size: 16px;
    }
}

.room-price-box {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.room-price {
    align-self: flex-end;
    font-size: 12px;
    font-weight: bold;

    @include tablet-portrait-up {
        font-size: 15px;
    }
}
